
<div id="wrapper">
<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <div class="row">

                <div class="plu">
                    <i class="fa fa-plus activity-icon"></i> New Job
                </div>

                <div class="col-lg-12">


                    <div class="body">
                        <div class="row">
                            <div class="custom-tabs-line tabs-line-bottom left-aligned">
                                <ul class="nav" role="tablist">
                                    <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">VOD</a>
                                    </li>
                                    <!-- 	<li ><a href="#tab-bottom-left2" role="tab" data-toggle="tab">VOD (BULK) <span class="badge"></span></a></li>
<li><a href="#tab-bottom-left3" role="tab" data-toggle="tab">AUDIO <span class="badge"></span></a></li>
<li><a href="#tab-bottom-left4" role="tab" data-toggle="tab">LIVE <span class="badge"></span></a></li> -->
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-bottom-left1">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="source">
                                                <label>Title </label>
                                                <input type="text" name="" placeholder="Name">
                                            </div>

                                        </div>

                                        <div class="col-lg-3">
                                            <ul class="nav navbar-nav navbar-left">

                                                <li class="dropdown">
                                                    <p style="border:none;" href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span>Tamplate</span> <i
                                                            class="icon-submenu lnr lnr-chevron-down"></i></p>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="lnr lnr-user"></i> <span>SD</span></a>
                                                        </li>
                                                        <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                <span>HD</span></a></li>

                                                    </ul>
                                                </li>
                                                <!-- <li>
                    <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                </li> -->
                                            </ul>
                                        </div>

                                        <div class="col-lg-3"> </div>


                                        <div class="col-lg-6">
                                            <div class="source">
                                                <label>Source </label>
                                                <input type="text" name=""
                                                    placeholder="http://staging.multitvsolutiion.in/streamLine">
                                            </div>

                                        </div>

                                        <div class="col-lg-3">
                                            <div class="upload-btn-wrapper">
                                                <button class="btns"><i class="fa fa-plus activity-icon"
                                                        style="font-size: 12px; color: #58aaff;"></i> Upload </button>
                                                <input type="file" name="myfile" />
                                            </div>
                                        </div>

                                        <div class="col-lg-3"></div>



                                    </div>


                                    <div class="row">
                                        <div class="col-lg-8">

                                            <div class="attr">
                                                <p>Attributes</p>
                                            </div>

                                            <div class="fancy-check" style="position: relative; top: -8px; left: 3px;">
                                                <label class="fancy-checkbox">
                                                    <input type="checkbox">
                                                    <span>Capture Thumbail from video</span>
                                                </label>

                                                <label class="fancy-checkbox">
                                                    <input type="checkbox">
                                                    <span>DTS Surround</span>
                                                </label>

                                                <label class="fancy-checkbox">
                                                    <input type="checkbox">
                                                    <span>Dolby Digital (AC-3)</span>
                                                </label>


                                            </div>


                                            <div class="flavor">
                                                <p> Flavor</p>
                                                <ul class="nav navbar-nav tmplt">

                                                    <li class="dropdown">
                                                        <p href="#" class="dropdown-toggle new-dr"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                            <span>Tamplate</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i></p>
                                                        <ul class="dropdown-menu dp">
                                                            <li><a href="#"><i class="lnr lnr-user"></i>
                                                                    <span>SD</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>HD</span></a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="dropdown">
                                                        <p href="#" class="dropdown-toggle new-dr"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                            <span>Quality</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i></p>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>144p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>240p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>360p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>480p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>720p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>1080p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>1440p (2k)</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>2160p (4k)</span></a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="dropdown">
                                                        <p href="#" class="dropdown-toggle new-dr"
                                                            data-toggle="dropdown" aria-expanded="false"> <span>Video
                                                                Compresion</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i></p>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>H264</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>H265</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>VP9</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>VP8</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>AV1</span></a></li>

                                                        </ul>
                                                    </li>

                                                    <li class="dropdown">
                                                        <p href="#" class="dropdown-toggle new-dr"
                                                            data-toggle="dropdown" aria-expanded="false"> <span>Audio
                                                                Compresion</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i></p>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><span>AAC</span></a></li>
                                                            <li><a href="#"><span>AC-3</span></a></li>
                                                            <li><a href="#"><span>HE-AAC</span></a></li>
                                                            <li><a href="#"><span>MP3</span></a></li>
                                                            <li><a href="#"><span>Vorbis</span></a></li>
                                                            <li><a href="#"><span>Opus</span></a></li>
                                                        </ul>
                                                    </li>
                      
                                                    <div class="caption">
                                                        <p>Caption</p>
                                                        <label class="fancy-radio">
                                                            <input name="gender" value="female" type="radio">
                                                            <span><i></i>Tooltip Thumbnail</span>
                                                        </label>

                                                        <span class="spn">10</span>
                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox">
                                                            <span>Spritsheet</span>
                                                        </label>
                                                    </div>


                                                    <div class="fancy-check" style="position: relative; left: -10px;">
                                                        <p>Output</p>
                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox">
                                                            <span>MPEG-4</span>
                                                        </label>

                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox">
                                                            <span>HLS</span>
                                                        </label>

                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox">
                                                            <span>MPEG-DASH</span>
                                                        </label>

                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox">
                                                            <span>MSS</span>
                                                        </label>

                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox">
                                                            <span>CMAF</span>
                                                        </label>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="imgs">
                                                                <p>Images</p>
                                                                <div class="upload-btn-wrapper">
                                                                    <button class="btns" style="margin-top:0px"><i
                                                                            class="fa fa-plus activity-icon"
                                                                            style="font-size: 12px; color: #58aaff;"></i>
                                                                        Upload </button>
                                                                    <input type="file" name="myfile">

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="d-content">
                                                                <ul class="nav navbar-nav tmplt">

                                                                    <li class="dropdown">
                                                                        <p href="#" class="dropdown-toggle new-dr"
                                                                            data-toggle="dropdown"
                                                                            aria-expanded="false"> <span>Tamplate</span>
                                                                            <i
                                                                                class="icon-submenu lnr lnr-chevron-down"></i>
                                                                        </p>
                                                                        <ul class="dropdown-menu dp">
                                                                            <li><a href="#"><i class="lnr lnr-user"></i>
                                                                                    <span>My Profile</span></a></li>
                                                                            <li><a href="#"><i
                                                                                        class="lnr lnr-envelope"></i>
                                                                                    <span>Message</span></a></li>
                                                                            <li><a href="#"><i class="lnr lnr-cog"></i>
                                                                                    <span>Settings</span></a></li>
                                                                            <li><a href="#"><i class="lnr lnr-exit"></i>
                                                                                    <span>Logout</span></a></li>
                                                                        </ul>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="section">
                                                                <label> Width*Height </label>
                                                                <input type="text" name="">
                                                                <input type="text" name="">


                                                            </div>
                                                        </div>



                                                    </div>
</ul>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="box">

                                            </div>

                                            <button class="submit">
                                                Submit
                                            </button>

                                        </div>

                                    </div>


                                </div>



                                <div class="tab-pane fade " id="tab-bottom-left2" style="padding: 30px;">

                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="selects">
                                                Flavor
                                                <select class="form-control">
                                                    <option value="cheese">Select</option>
                                                    <option value="tomatoes">Tomatoes</option>
                                                    <option value="mozarella">Mozzarella</option>
                                                    <option value="mushrooms">Mushrooms</option>
                                                    <option value="pepperoni">Pepperoni</option>
                                                    <option value="onions">Onions</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="selects">
                                                Video Code
                                                <select class="form-control">
                                                    <option value="cheese">Select</option>
                                                    <option value="tomatoes">Tomatoes</option>
                                                    <option value="mozarella">Mozzarella</option>
                                                    <option value="mushrooms">Mushrooms</option>
                                                    <option value="pepperoni">Pepperoni</option>
                                                    <option value="onions">Onions</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="selects">
                                                Audio
                                                <select class="form-control">
                                                    <option value="cheese">Select</option>
                                                    <option value="tomatoes">Tomatoes</option>
                                                    <option value="mozarella">Mozzarella</option>
                                                    <option value="mushrooms">Mushrooms</option>
                                                    <option value="pepperoni">Pepperoni</option>
                                                    <option value="onions">Onions</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="selects">
                                                Source
                                                <select class="form-control">
                                                    <option value="cheese">Select</option>
                                                    <option value="tomatoes">Tomatoes</option>
                                                    <option value="mozarella">Mozzarella</option>
                                                    <option value="mushrooms">Mushrooms</option>
                                                    <option value="pepperoni">Pepperoni</option>
                                                    <option value="onions">Onions</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-4"> </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <span class="cvs">Select CSV</span>
                                            <div class="upload-btn-wrapper">
                                                <button class="btn-up"> Choose File </button>
                                                <input type="file" name="myfile">
                                            </div>
                                        </div>

                                        <div class="col-lg-3">

                                            <div class="dwn">
                                                <button> Download sample CSV </button>
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="">
                                                <button class="submit"> Submit </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>Access Key</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                            <div class="cred">
                                                <label>Bucket</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                            <div class="cred">
                                                <label>HTTP URL</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>Secret Key</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                            <div class="cred">
                                                <label>Path</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="">
                                                <button class="submit"> Save </button>
                                            </div>
                                        </div>



                                    </div>

                                </div>

                                <div class="tab-pane fade in " id="tab-bottom-left3">
                                    <ul class="list-unstyled activity-timeline">
                                        <li>
                                            <i class="fa fa-comment activity-icon"></i>
                                            <p>3sss on post <a href="#">Prototyping</a> <span class="timestamp">2
                                                    minutes ago</span></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-cloud-upload activity-icon"></i>
                                            <p>Uploaded new file <a href="#">Proposal.docx</a> to project <a
                                                    href="#">New Year Campaign</a> <span class="timestamp"> hours
                                                    ago</span></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-plus activity-icon"></i>
                                            <p>Added <a href="#">Martin</a> and <a href="#">3 others colleagues</a> to
                                                project repository <span class="timestamp">Yesterday</span></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-check activity-icon"></i>
                                            <p>Finished 80% of all <a href="#">assigned tasks</a> <span
                                                    class="timestamp">1 day ago</span></p>
                                        </li>
                                    </ul>
                                    <div class="margin-top-30 text-center"><a href="#" class="btn btn-default">See all
                                            activity</a></div>
                                </div>

                                <div class="tab-pane fade in " id="tab-bottom-left4">


                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="source">
                                                <label>Title </label>
                                                <input type="text" name=""
                                                    placeholder="http://staging.multitvsolutiion.in/streamLine">
                                            </div>

                                        </div>

                                        <div class="col-lg-3">
                                            <div class="upload-btn-wrapper">
                                                <button class="btns"><i class="fa fa-plus activity-icon"
                                                        style="font-size: 12px; color: #58aaff;"></i> Upload </button>
                                                <input type="file" name="myfile">
                                            </div>
                                        </div>

                                        <div class="col-lg-3"></div>



                                    </div>

                                    <div class="row" style="padding: 10px;">

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>Start end</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>


                                        </div>

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>End Date</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <ul class="nav navbar-nav navbar-left">

                                                <li class="dropdown">
                                                    <p style="border:none;" href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false"> <span>UPD</span>
                                                        <i class="icon-submenu lnr lnr-chevron-down"></i></p>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="lnr lnr-user"></i> <span>My
                                                                    Profile</span></a></li>
                                                        <li><a href="#"><i class="lnr lnr-envelope"></i>
                                                                <span>Message</span></a></li>
                                                        <li><a href="#"><i class="lnr lnr-cog"></i>
                                                                <span>Settings</span></a></li>
                                                        <li><a href="#"><i class="lnr lnr-exit"></i>
                                                                <span>Logout</span></a></li>
                                                    </ul>
                                                </li>
                                                <!-- <li>
                    <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                </li> -->
                                            </ul>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>URL</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>


                                        </div>

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>PORT</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="">
                                                <button class="submit"> Next </button>
                                            </div>
                                        </div>



                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>


        </div>
    </div>

</div>
</div>