


<div id="wrapper">
    <div class="main">

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
          
                <div class="row">
                    <div class="col-lg-3">


                        <div class="panel panel-headline">
                            <div class="panel-heading">
                                <h3 class="panel-title">Traffic</h3>
                                <p class="panel-subtitle">10 KB</p>
                            </div>

                        </div>
                    </div>


                    <div class="col-lg-9">

                        <div class="over">
                            <button>OVERVIEW</button>
                        </div>

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4">
                                <p class="dt">Start Date</p>
                                <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">

                                    <input class="form-control" type="date"   >
                                   
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <p class="dt">End Date</p>
                                
                                <div id="datepicker1" class="input-group date" data-date-format="mm-dd-yyyy">
                                  
                                    <input class="form-control" type="date">
                                   
                                </div>
                            </div>

                        </div>
                        




                    </div>


                    <div class="col-md-12">
                        <div class="tabs">
                            <table style="width:100%">
                                <tr>
                                    <th>Company</th>
                                    <th>Contact</th>
                                    <th>Country</th>
                                </tr>
                                <tr>
                                    <td><a href="detail.html"> htttps//e879871131.noise </a></td>
                                    <td>Maria Anders</td>
                                    <td>Germany</td>
                                </tr>
                                <tr>
                                    <td>Centro comercial Moctezuma</td>
                                    <td>Francisco Chang</td>
                                    <td>Mexico</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
               

            </div>
        </div>
    </div>