<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                <div class="left">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center"><img src="assets/img/logo-dark.png" alt="Klorofil Logo"></div>
                            <p class="lead">Login to your account</p>
                        </div>
                        <div *ngIf="isInvalid" id="invalidLogin">{{invalidMsg}}</div>
                        <form class="form-auth-small" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="logIn()">

                            <div class="form-group">

                                <input type="email" formControlName="email" class="form-control" id="email"
                                    placeholder="Email">
                                <div style="color:#ec4040d6; " class="invalidError"
                                    *ngIf="(loginForm.get('email')?.invalid && formDir.submitted)">Email is required*
                                </div>
                            </div>
                            <div class="form-group">

                                <input type="password" formControlName="password" class="form-control" id="password"
                                    placeholder="Password">
                                <div style="color:#ec4040d6; " class="invalidError"
                                    *ngIf="(loginForm.get('password')?.invalid && formDir.submitted)">Password is
                                    required*</div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="fancy-checkbox element-left">
                                    <input type="checkbox">
                                    <span>Remember me</span>
                                    
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                            <div class="bottom">
                                <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot
                                        password?</a></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="right">
                    <div class="overlay"></div>
                    <div class="content text">
                        <h1 class="heading">Free Bootstrap dashboard template</h1>
                        <p>by The Develovers</p>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>