<div id="wrapper">
<div class="main">


    <div class="main-content">
        <div class="container-fluid">

            <div class="row">

                <div class="plu">
                    <i class="fa fa-plus activity-icon"></i> New Job
                </div>

                <div class="col-lg-12">


                    <div class="body">
                        <div class="row">
                            <div class="custom-tabs-line tabs-line-bottom left-aligned">
                                <ul class="nav" role="tablist">

                                    <li class="active"><a href="#tab-bottom-left3" role="tab"
                                            data-toggle="tab">AUDIO <span class="badge"></span></a></li>

                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-bottom-left1">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="source">
                                                <label>Title </label>
                                                <input type="text" name="" placeholder="Name">
                                            </div>

                                        </div>

                                        <div class="col-lg-3">
                                            <ul class="nav navbar-nav navbar-left">

                                                <li class="dropdown">
                                                    <p style="border:none;" href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span>Tamplate</span> <i
                                                            class="icon-submenu lnr lnr-chevron-down"></i>
                                                    </p>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="lnr lnr-user"></i>
                                                                <span>SD</span></a></li>
                                                        <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                <span>HD</span></a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>

                                        <div class="col-lg-3"> </div>


                                        <div class="col-lg-6">
                                            <div class="source">
                                                <label>Source </label>
                                                <input type="text" name=""
                                                    placeholder="http://staging.multitvsolutiion.in/streamLine">
                                            </div>

                                        </div>

                                        <div class="col-lg-3">
                                            <div class="upload-btn-wrapper">
                                                <button class="btns"><i class="fa fa-plus activity-icon"
                                                        style="font-size: 12px; color: #58aaff;"></i> Upload
                                                </button>
                                                <input type="file" name="myfile" />
                                            </div>
                                        </div>

                                        <div class="col-lg-3"></div>



                                    </div>


                                    <div class="row">
                                        <div class="col-lg-8">




                                            <div class="flavor">
                                                <p> Flavor</p>
                                                <ul class="nav navbar-nav tmplt">

                                                    <li class="dropdown">
                                                        <p href="#" class="dropdown-toggle new-dr"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                            <span>Tamplate</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i>
                                                        </p>
                                                        <ul class="dropdown-menu dp">
                                                            <li><a href="#"><i class="lnr lnr-user"></i>
                                                                    <span>SD</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>HD</span></a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="dropdown">
                                                        <p href="#" class="dropdown-toggle new-dr"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                            <span>Quality</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i>
                                                        </p>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>144p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>240p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>360p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>480p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>720p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>1080p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>1440p (2k)</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>2160p (4k)</span></a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="dropdown">
                                                        <p href="#" class="dropdown-toggle new-dr"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                            <span>Video Compressed</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i>
                                                        </p>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>H264</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>H265</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>VP9</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>VP8</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>AV1</span></a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="dropdown">
                                                        <p href="#" class="dropdown-toggle new-dr"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                            <span>Audio Compressed</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i>
                                                        </p>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><span>AAC</span></a></li>
                                                            <li><a href="#"><span>AC-3</span></a></li>
                                                            <li><a href="#"><span>HE-AAC</span></a></li>
                                                            <li><a href="#"><span>MP3</span></a></li>
                                                            <li><a href="#"><span>Vorbis</span></a></li>
                                                            <li><a href="#"><span>Opus</span></a></li>
                                                        </ul>
                                                    </li>

                                                    <div class="attr"> <br>
                                                        <p
                                                            style="margin-left: -15px; position: relative; top: -5px;">
                                                            Attributes</p>
                                                    </div>

                                                    <div class="fancy-check"
                                                        style="position: relative; top: -8px; left: -2px; padding:0px;">
                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox">
                                                            <span>Multiple Audio Tracks</span>
                                                        </label>

                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox">
                                                            <span>DTS Surround Sound</span>
                                                        </label>

                                                        <label class="fancy-checkbox">
                                                            <input type="checkbox">
                                                            <span>Dolby Digital (AC-3)</span>
                                                        </label>


                                                    </div>
                                                    <button class="submit">
                                                        Submit
                                                    </button>
                                                    </ul>
                                            </div>



                                        </div>




                                    </div>


                                </div>



                                <div class="tab-pane fade" id="tab-bottom-left2" style="padding: 30px;">

                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="selects">
                                                Flavor
                                                <select class="form-control">
                                                    <option value="cheese">Select</option>
                                                    <option value="tomatoes">Tomatoes</option>
                                                    <option value="mozarella">Mozzarella</option>
                                                    <option value="mushrooms">Mushrooms</option>
                                                    <option value="pepperoni">Pepperoni</option>
                                                    <option value="onions">Onions</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="selects">
                                                Video Code
                                                <select class="form-control">
                                                    <option value="cheese">Select</option>
                                                    <option value="tomatoes">Tomatoes</option>
                                                    <option value="mozarella">Mozzarella</option>
                                                    <option value="mushrooms">Mushrooms</option>
                                                    <option value="pepperoni">Pepperoni</option>
                                                    <option value="onions">Onions</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="selects">
                                                Audio
                                                <select class="form-control">
                                                    <option value="cheese">Select</option>
                                                    <option value="tomatoes">Tomatoes</option>
                                                    <option value="mozarella">Mozzarella</option>
                                                    <option value="mushrooms">Mushrooms</option>
                                                    <option value="pepperoni">Pepperoni</option>
                                                    <option value="onions">Onions</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="selects">
                                                Source
                                                <select class="form-control">
                                                    <option value="cheese">Select</option>
                                                    <option value="tomatoes">Tomatoes</option>
                                                    <option value="mozarella">Mozzarella</option>
                                                    <option value="mushrooms">Mushrooms</option>
                                                    <option value="pepperoni">Pepperoni</option>
                                                    <option value="onions">Onions</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-4"> </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <span class="cvs">Select CSV</span>
                                            <div class="upload-btn-wrapper">
                                                <button class="btn-up"> Choose File </button>
                                                <input type="file" name="myfile">
                                            </div>
                                        </div>

                                        <div class="col-lg-3">

                                            <div class="dwn">
                                                <button> Download sample CSV </button>
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="">
                                                <button class="submit"> Submit </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>Access Key</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                            <div class="cred">
                                                <label>Bucket</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                            <div class="cred">
                                                <label>HTTP URL</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>Secret Key</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                            <div class="cred">
                                                <label>Path</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="">
                                                <button class="submit"> Save </button>
                                            </div>
                                        </div>



                                    </div>

                                </div>

                                <div class="tab-pane fade in " id="tab-bottom-left3">
                                    <ul class="list-unstyled activity-timeline">
                                        <li>
                                            <i class="fa fa-comment activity-icon"></i>
                                            <p>3sss on post <a href="#">Prototyping</a> <span
                                                    class="timestamp">2 minutes ago</span></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-cloud-upload activity-icon"></i>
                                            <p>Uploaded new file <a href="#">Proposal.docx</a> to project <a
                                                    href="#">New Year Campaign</a> <span class="timestamp">
                                                    hours ago</span></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-plus activity-icon"></i>
                                            <p>Added <a href="#">Martin</a> and <a href="#">3 others
                                                    colleagues</a> to project repository <span
                                                    class="timestamp">Yesterday</span></p>
                                        </li>
                                        <li>
                                            <i class="fa fa-check activity-icon"></i>
                                            <p>Finished 80% of all <a href="#">assigned tasks</a> <span
                                                    class="timestamp">1 day ago</span></p>
                                        </li>
                                    </ul>
                                    <div class="margin-top-30 text-center"><a href="#"
                                            class="btn btn-default">See all activity</a></div>
                                </div>

                                <div class="tab-pane fade in " id="tab-bottom-left4">


                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="source">
                                                <label>Title </label>
                                                <input type="text" name=""
                                                    placeholder="http://staging.multitvsolutiion.in/streamLine">
                                            </div>

                                        </div>

                                        <div class="col-lg-3">
                                            <div class="upload-btn-wrapper">
                                                <button class="btns"><i class="fa fa-plus activity-icon"
                                                        style="font-size: 12px; color: #58aaff;"></i> Upload
                                                </button>
                                                <input type="file" name="myfile">
                                            </div>
                                        </div>

                                        <div class="col-lg-3"></div>



                                    </div>

                                    <div class="row" style="padding: 10px;">

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>Start end</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>


                                        </div>

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>End Date</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <ul class="nav navbar-nav navbar-left">

                                                <li class="dropdown">
                                                    <p style="border:none;" href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span>UPD</span> <i
                                                            class="icon-submenu lnr lnr-chevron-down"></i>
                                                    </p>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="lnr lnr-user"></i> <span>My
                                                                    Profile</span></a></li>
                                                        <li><a href="#"><i class="lnr lnr-envelope"></i>
                                                                <span>Message</span></a></li>
                                                        <li><a href="#"><i class="lnr lnr-cog"></i>
                                                                <span>Settings</span></a></li>
                                                        <li><a href="#"><i class="lnr lnr-exit"></i>
                                                                <span>Logout</span></a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>URL</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>


                                        </div>

                                        <div class="col-lg-4">
                                            <div class="cred">
                                                <label>PORT</label> <br>
                                                <input type="text" name="" placeholder="|">
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="">
                                                <button class="submit"> Next </button>
                                            </div>
                                        </div>



                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>


        </div>
    </div>

</div>
</div>

