<div id="wrapper">
    <div class="main">

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">

                <div class="row">




                    <div class="col-lg-12">
                        <i class="fa fa-plus activity-icon"></i> GENERATE RTMP
                        <div class="header">
                            <div class="new-Endpoint"> <a href="#">Input</a></div>
                        </div>

                        <div class="body">
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="rtmp">
                                        <label>Source</label>
                                        <select class="form-control input-sm">
                                            <option value="cheese">RTMP</option>
                                            <option value="tomatoes">Tomatoes</option>
                                            <option value="mozarella">Mozzarella</option>
                                            <option value="mushrooms">Mushrooms</option>
                                            <option value="pepperoni">Pepperoni</option>
                                            <option value="onions">Onions</option>
                                        </select>
                                    </div>

                                    <div class="rtmp">
                                        <label>Source</label>
                                        <select class="form-control ">
                                            <option value="cheese">On Premise</option>
                                            <option value="tomatoes">Tomatoes</option>
                                            <option value="mozarella">Mozzarella</option>
                                            <option value="mushrooms">Mushrooms</option>
                                            <option value="pepperoni">Pepperoni</option>
                                            <option value="onions">Onions</option>
                                        </select>
                                    </div>

                                    <div class="fancy-check">
                                        <label class="fancy-checkbox">
                                            <input type="checkbox">
                                            <span>HLS</span>
                                        </label> <label class="fancy-checkbox">
                                            <input type="checkbox">
                                            <span>Dash</span>
                                        </label>


                                    </div>


                                </div>

                                <div class="col-lg-6">
                                    <div class="domains">
                                        <input type="text" name="" placeholder="IP">
                                    </div>

                                    <div class="rtmp" style="margin-top:37px;">

                                        <select class="form-control input-sm">
                                            <option value="cheese"></option>
                                            <option value="tomatoes">Tomatoes</option>
                                            <option value="mozarella">Mozzarella</option>
                                            <option value="mushrooms">Mushrooms</option>
                                            <option value="pepperoni">Pepperoni</option>
                                            <option value="onions">Onions</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="dvr">
                                    Drv <input type="text" name="" placeholder="https://web.whatsapp">
                                </div>

                            </div>


                        </div>

                    </div>

                </div>



                <div class="row">

                    <div class="col-lg-12">
                        <div class="header">
                            <div class="new-Endpoint"> <i class="lnr lnr-arrow-left"></i> <a href="#">New Endpoint</a>
                            </div>
                        </div>

                        <div class="body">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="complete">
                                        Status <br>
                                        <button>complete</button>
                                    </div>

                                    <div class="source">
                                        <label>HLS</label>
                                        <input type="text" name="" placeholder="https://web.whatsapp">
                                    </div>

                                    <div class="source">
                                        <label>Dash URL</label>
                                        <input type="text" name="" placeholder="https://web.whatsapp">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="source">
                                        <label> Publisher </label> <br>
                                        <img src="assets/img/edit.png">
                                        <img src="assets/img/icon1.png">
                                        <img src="assets/img/edit.png">
                                        <img src="assets/img/icon2.png">
                                        <img src="assets/img/edit.png">
                                        <img src="assets/img/icon3.png">

                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>





            </div>
        </div>

    </div>

</div>