<div id="wrapper">
    <div class="main">

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-3">



                    </div>


                    <div class="col-md-9">



                    </div>


                    <div class="col-md-12">
                        <div class="tabs">
                            <table style="width:100%">
                                <tr>
                                    <th>Choose CDN</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>

                                    <td><label class="fancy-radio">
                                            <input name="gender" value="male" type="radio">
                                            <span><i></i>Cloudfont</span>
                                        </label></td>

                                    <td><label class="fancy-radio">
                                            <input name="gender" value="male" type="radio">
                                            <span><i></i>Akamai</span>
                                        </label></td>


                                    <td><label class="fancy-radio">
                                            <input name="gender" value="male" type="radio">
                                            <span><i></i>Lime light</span>
                                        </label></td>
                                    <td><label class="fancy-radio">
                                            <input name="gender" value="male" type="radio">
                                            <span><i></i>Verizon</span>
                                        </label></td>

                                    <td><label class="fancy-radio">
                                            <input name="gender" value="male" type="radio">
                                            <span><i></i>Multicdn</span>
                                        </label></td>
                                    <td style="width: 195px;"><label class="fancy-radio">
                                            <input name="gender" value="male" type="radio">
                                            <span><i></i>Jio</span>
                                        </label></td>
                                </tr>

                            </table>
                        </div>
                    </div>


                    <div class="col-lg-12">
                        <div class="header">
                            <div class="new-Endpoint"> <i class="lnr lnr-arrow-left"></i> <a href="#">New Endpoint</a>
                            </div>
                        </div>

                        <div class="body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="source">
                                        <label>Name Source </label>
                                        <input type="text" name="" placeholder="Name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="source">
                                        <label>Source URL </label>
                                        <input type="text" name="" placeholder="Https/">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="whistil">
                                        <h4>WHITELISTING</h4>
                                        <p> List of hosts/ IP network by the CDN Enpoint </p>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="domain">
                                        <label> <input type="text" name="" placeholder="Domain"> </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="domain">
                                                <label> Host <input type="text" name="" placeholder="IP"> </label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="domain">
                                                <label> <span style="visibility: hidden;">Host</span> <input type="text"
                                                        name="" placeholder="Mask"> </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="crt-tn">
                                    <button>Add</button>
                                </div>



                            </div>

                            <div class="create">
                                <button> Create </button>
                            </div>

                        </div>
                    </div>

                </div>









            </div>
        </div>

    </div>
</div>