<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"
                    width="50%"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <div class="navbar-btn navbar-btn-right">
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png"
                                class="img-circle" alt="Avatar"> <span>{{user.email}}</span> <i
                                class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href=""><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                            <li><a href=""><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li><a routerLink="/settings"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                            <li><a (click)="logout()" style="cursor: pointer;"><i class="lnr lnr-exit"></i>
                                    <span>Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>