<div id="wrapper">
<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <div class="row">

                <div class="plu">
                    <i class="fa fa-plus activity-icon"></i> New Job
                </div>

                <div class="col-lg-12">


                    <div class="body">
                        <div class="row">
                            <div class="custom-tabs-line tabs-line-bottom left-aligned">

                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-bottom-left1">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="source">
                                                <label>Title </label>
                                                <input type="text" name="" placeholder="Name">
                                            </div>
                                        </div>

                                        <div class="col-lg-6"></div>

                                    </div>



                                    <div class="row" style="padding:14px;">

                                        <div class="col-lg-4">
                                            <span>Start Date</span>
                                            <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">

                                                <input class="form-control" type="date" >
                                              
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <span>End Date</span>
                                            <div id="datepicker1" class="input-group date"
                                                data-date-format="mm-dd-yyyy">
                                                <input class="form-control" type="date" >
                                               
                                            </div>
                                        </div>



                                    </div>


                                    <div class="row">
                                        <div class="col-lg-12">

                                            <ul class="nav navbar-nav navbar-left">

                                                <li class="dropdown">
                                                    <p style="border:none; margin-top: 0px; padding: 14px;" href="#"
                                                        class="dropdown-toggle" data-toggle="dropdown"
                                                        aria-expanded="false"> <span>Input</span> <i
                                                            class="icon-submenu lnr lnr-chevron-down"></i></p>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="lnr lnr-user"></i>
                                                                <span>UDP</span></a></li>
                                                        <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                <span>RTMP</span></a></li>

                                                    </ul>
                                                </li>
                           
                                            </ul>

                                        </div>

                                        <div class="col-lg-5">
                                            <div class="url-input">
                                                <label>URL &nbsp;&nbsp; : <input type="text" name=""> <input type="text"
                                                        name="" placeholder="Port"> </label>
                                            </div>
                                        </div>


                                        <div class="col-lg-5">
                                            <div class="plus">
                                                <i class="fa fa-plus activity-icon"></i> Generate
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="url-input">
                                                <label>Input : <input type="text" name=""> <input type="text" name=""
                                                        placeholder="Key"> </label>
                                            </div>
                                        </div>


                                    </div>


                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="duration">
                                                <label> Duration Recording <input type="text" name="" placeholder="50">
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="n-put">
                                                <ul class="nav navbar-nav navbar-left">

                                                    <li class="dropdown">
                                                        <p style="border:none; margin-top: 0px; padding: 14px;" href="#"
                                                            class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false"> <span>Audio</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i></p>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><i class="lnr lnr-user"></i> <span>32
                                                                        Kbps</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>96 Kbps</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>128 Kbps</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>192 Kbps</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>256 Kbps</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>320 Kbps</span></a></li>

                                                        </ul>
                                                    </li>
               
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="n-put">
                                                <ul class="nav navbar-nav navbar-left">

                                                    <li class="dropdown">
                                                        <p style="border:none; margin-top: 0px; padding: 14px;" href="#"
                                                            class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false"> <span>Video</span> <i
                                                                class="icon-submenu lnr lnr-chevron-down"></i></p>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><i class="lnr lnr-user"></i>
                                                                    <span>144p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>240 p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>360 p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>480 p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>720 p</span></a></li>
                                                            <li><a href="#"><i class="lnr lnr-camera-video"></i>
                                                                    <span>1080 p </span></a></li>

                                                        </ul>
                                                    </li>
                  
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            &nbsp; &nbsp; &nbsp; <button class="submit">
                                                Submit
                                            </button>
                                        </div>

                                    </div>



                                </div>


                            </div>





                        </div>
                    </div>
                </div>
            </div>




        </div>


    </div>
</div>
</div>