<div id="wrapper">
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>

                <ul class="nav">
                    <li>
                        <a href="#subPagess" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i>
                            <span>CDN</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPagess" class="collapse ">
                            <ul class="nav">
                                <li><a routerLink="/dashboard" class="">Dashboard</a></li>
                                <li><a routerLink="/new-endpoints" class="">New Endpoints</a></li>
                                <li><a routerLink="/endpoints" class="">Endpoints</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#subPagesss" data-toggle="collapse" class="collapsed"><i class="lnr lnr-film-play"></i>
                            <span>File Transcoding</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPagesss" class="collapse ">
                            <ul class="nav">
                                <li><a routerLink="/vod" class="">VOD </a></li>
                                <li><a routerLink="/vod-bulk" class="">VOD (BULK)</a></li>
                                <li><a routerLink="/audio" class="">AUDIO</a></li>


                            </ul>
                        </div>
                    </li>

                    <li>

                        <a routerLink="/live-transcoding"><i class="lnr lnr-camera-video"></i> <span>Live
                                Transcoding</span>
                        </a>
                    </li>

                    <li>
                        <a routerLink="settings"><i class="lnr lnr-cog"></i> <span>
                                Settings
                            </span> </a>

                    </li>







                </ul>
            </nav>
        </div>
    </div>
</div>