<div class="wrapper">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main">
  <app-navbar></app-navbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>